@font-face {
    font-family: 'Oxygen';
    font-display: swap;
    src:     url('/assets/Oxygen-Regular.ttf');
}
@font-face {
    font-family: 'Oxygen';
    font-display: swap;
	font-weight: bold;
    src:     url('/assets/Oxygen-Bold.ttf');
}

/* semantic color variables for this project */
:root {
	--font-default: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	--font-header: Oxygen, sans-serif;

	--color-module: hsl(240 100 50);
	--color-module-hover: hsl(from var(--color-module) h s calc(l - 0.2));
	--color-module-selected: hsl(from var(--color-module) h s calc(l * 0.5));

	--color-module-sold: hsl(from var(--color-module) h calc(s - 0.5) calc(l + 0.1));
	--color-module-sold-hover: hsl(from var(--color-module-sold) h s calc(l - 0.1));
	--color-module-sold-selected: hsl(from var(--color-module-sold) h s calc(l * 0.5));

	--color-inverter: hsl(30 100 50);
	--color-inverter-hover: hsl(from var(--color-inverter) h calc(s * 0.8) calc(l * 0.8));
	--color-inverter-selected: hsl(from var(--color-inverter) h s calc(l * 0.5));

	--color-inverter-sold: hsl(from var(--color-inverter) h calc(s * 0.25) calc(l * 1.5));
	--color-inverter-sold-hover: hsl(from var(--color-inverter-sold) h calc(s * 0.8) calc(l * 0.8));
	--color-inverter-sold-selected: hsl(from var(--color-inverter-sold) h s calc(l * 0.5));

	--color-battery: hsl(120 50 50);
	--color-battery-hover: hsl(from var(--color-battery) h calc(s * 0.8) calc(l * 0.8));
	--color-battery-selected: hsl(from var(--color-battery) h s calc(l * 0.5));

	--color-battery-sold: hsl(from var(--color-battery) h calc(s * 0.25) calc(l * 1.5));
	--color-battery-sold-hover: hsl(from var(--color-battery-sold) h calc(s * 0.8) calc(l * 0.8));
	--color-battery-sold-selected: hsl(from var(--color-battery-sold) h s calc(l * 0.5));
}