@import './base.css';

*,
*::before,
*::after {
	box-sizing: border-box;
}

input, button {
	font-size: 1em;
}

body {
	font-family: var(--font-default);
	
	margin: 0;

	font-size: 1.5em;

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;

	cursor: pointer;
}

a:link,
a:visited,
a:hover,
a:active {
	color: unset;
}

/* @media (width <= 100em) {
	body {
	}
} */